.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 600px;
    border: 1px solid black;
}

.mainContainer>div {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 30px;
}

.div1 {
    background-color: cyan;
}

.div2 {
    background-color: red;
}

.div3 {
    background-color: green;
}

.div4 {
    background-color: pink;
}

.div5 {
    background-color: blue;
}

.div6 {
    background-color: lime;
}

.div7 {
    background-color: purple;
}

.div8 {
    background-color: yellow;
}

.div9 {
    background-color: orange;
}