html {
    background-image: linear-gradient(to left, cyan, lime);
}

.tableAdjust{
    display: flex;
    justify-content: center;
    margin: 10px;
}
table th{
    background-color: whitesmoke;
}
#container {
    border-radius: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.1);
    padding: 20px;
    background-color: whitesmoke;
}

@media only screen and (max-width: 3000px) {
    #backcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #container {
        width: 400px;
    }
}

.inputbutton {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
}

.bottomspace {
    margin-bottom: 10px;
}

.main {
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}

#submitbtn {
    background-color: cyan;
}

#submitbtn:hover {
    background-color: #17b9b9;
}

#resetbtn {
    background-color: #bbbbbb;
}

#resetbtn:hover {
    background-color: #aaaaaa;
}

a {
    color: black;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}