#container {
    max-width: 600px;
    border-radius: 25px;
    max-height: fit-content;
    background-image: linear-gradient(to bottom,#00D4FF, #090979);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
    padding: 20px;
}
.main {
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}

input[type=reset] {
    background-color: #bbbbbb;
}
.inputbutton{
    width: 100%;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
}
input[type=submit] {
    background-color: #229ac8;
}

input[type=reset]:hover {
    background-color: #aaaaaa;
}

input[type=submit]:hover {
    background-color: #23a1d1;
}

#backcontainer {
    display: flex;
    padding-top: 40px;
    height: 210%;
    background-color: black;
    /* border: 1px solid black; */
    justify-content: center;
}
#agreecheckbox {
    display: flex;
}
h1{
    text-align:center;
    color:#28718e;
}
p{
    text-align: center;
}